<h1>find your GIF!</h1>
<center><form action="/">
  <input type="text" name="term">
  <button type="submit">search!</button>
</form></center>

{{#each gifs}}
  <img src="{{this.images.fixed_height.url}}">
{{/each}}
