
<div class="all">
  <h2>Search the Dank Bank!</h2>
  <center><form action="/">
    <input type="text" name="term">
    <button type="submit">search!</button>
  </form></center>
  <center>
  {{#each gifs}}
    <br>
    <img src="{{this.images.fixed_height.url}}">
  {{/each}}
  </center>
</div>




